PORT=5000
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.your_id.mongodb.net/database_name?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key
ADMIN_EMAIL=ambikalawgroup@gmail.com
ADMIN_PASSWORD=ag12345
NODE_ENV=production
FRONTEND_URL=https://your-frontend-domain.com
